.container {
    text-align: center;
    margin: 20px;
    max-width: 800px;
    /* Controla el ancho máximo del contenedor principal */
    margin: 0 auto;
    /* Centra el contenedor en la pantalla */
}

.filter-container {
    display: flex;
    /* Coloca los campos de filtro en línea */
    justify-content: space-between;
    /* Espacio entre los campos de filtro */
    margin-bottom: 20px;
    /* Espacio entre los campos de filtro y la lista */
}

.filter-item {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
}

.input-style {
    padding: 5px; /* Agrega espacio interno (padding) a los inputs */
    margin-right: 5px; /* Espacio entre los inputs */
  }

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2ea644;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #227030;
}